<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="pablic/images/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="<%- assetFingerprint('/staylesheets/styles.css') %>"
    />
    <title><%=title %></title>
  </head>
  <body></body>
</html>
